@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  font-family: "Quicksand";
  font-size: 14px;
}

@media (max-width: 768px) {
  /* Điều chỉnh cho kích thước sm */
  .container {
    padding: 0 10px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 10px;
  }
}
@media (max-width: 1280px) {
  .container {
    padding: 0 10px;
  }
}
/* Slick slider */
.slick-prev,
.slick-next {
  display: none !important;
}
.card_cate {
  display: flex !important;
  justify-content: space-between;
}
.card_home:hover .cate_name {
  color: #008b4b;
}
.slick-list {
  margin: 0 -5px;
}
.slick-slide > div {
  padding: 0 5px;
}
.Slider__Item:hover > .slide__img {
  border: 2px solid #008b4b;
}
.Slider__Item:hover > .Item_info {
  color: #008b4b;
}
/* Scoll bar */
/* Target the scrollbar */
.filter_checks::-webkit-scrollbar {
  width: 7px;
}

/* Track (background) */
.filter_checks::-webkit-scrollbar-track {
  background: #ccc;
}

/* Handle (thumb) */
.filter_checks::-webkit-scrollbar-thumb {
  background: #008b4b;
  border-radius: 6px;
}

/* Key frame Moblie  */
